<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
</head>
<body>
<main>
<h1>テスト出力</h1>
<ul>
	<p>条件</p>
	<li>
		タイトルに「エンジニア」を含む
	</li>
	<li>
		半年以内に公開
	</li>
	<li>
		再生回数順で上位10件
	</li>
</ul>
<table border="1">
	<thead>
		<tr>
			<th>no</th>
			<th>タイトル</th>
			<th>公開日時</th>
			<th>再生回数</th>
			<th>チャンネル名</th>
			<th>チャンネル登録者数</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="searchResultMap, stat : ${searchResultMaps}">
			<td th:text="${stat.count}"></td>	
 			<td th:text="${searchResultMap.title}"></td>
			<td th:text="${searchResultMap.publishedAt}"></td>
			<td></td>
			<!-- <td th:text="${searchResultMap.videoViewCount}"></td> -->
			<td th:text="${searchResultMap.channelTitle}"></td>
			<!-- <td th:text="${searchResultMap.subscriberCount}"></td> -->
			<td></td>
		</tr>
	</tbody>
</table>
</main>
<script>
$(function(){
});
</script>
</body>
</html>